<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        {%- include social.html -%}
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">Robert McCreary</h4>
        <p class="main-footer__short-desc">
        {{- site.description | escape -}}
        </p>
      </div>
    </div>
  </div>
  <div>
    Resume Icon by Icongeek26 from <a href="https://thenounproject.com/browse/icons/term/resume/" target="_blank" title="Resume Icons">Noun Project</a>
  </div>
</footer>

<script src="./assets/scripts/index.js"></script>
