
<h2 class="heading heading-sm main-footer__heading-sm">
  <span>Social</span>
</h2>
<div class="main-footer__social-cont">
  <a target="_blank" rel="noreferrer" href="https://linkedin.com/in/robertmcc">
    <img
      class="main-footer__icon"
      src="./assets/png/linkedin-ico.png"
      alt="icon"
    />
  </a>
  <a target="_blank" rel="noreferrer" href="https://github.com/rmccrear">
    <img
      class="main-footer__icon"
      src="./assets/png/github-ico.png"
      alt="icon"
    />
  </a>
</div>