<section class="home-hero">
  <div class="home-hero__content">
    <h1 class="heading-primary">Hello, My name is Robert McCreary</h1>
    <div class="home-hero__info">
      <p class="text-primary">
        Web developer and teacher of English.
      </p>
    </div>
    <div class="home-hero__cta">
      <a href="./#projects" class="btn btn--bg">Projects</a>
    </div>
  </div>
  <div class="home-hero__socials">
    <div class="home-hero__social">
      <a href="https://www.linkedin.com/in/robertmcc" class="home-hero__social-icon-link">
        <img
          src="./assets/png/linkedin-ico.png"
          alt="icon"
          class="home-hero__social-icon"
        />
      </a>
    </div>
    <div class="home-hero__social">
      <a href="https://github.com/rmccrear" class="home-hero__social-icon-link">
        <img
          src="./assets/png/github-ico.png"
          alt="icon"
          class="home-hero__social-icon"
        />
      </a>
    </div>
    <div class="home-hero__social">
      <a href="/assets/pdf/Robert McCreary - Resume.pdf" class="home-hero__social-icon-link">
        <img
          src="./assets/png/resume-ico.png"
          alt="icon"
          class="home-hero__social-icon"
        />
      </a>
    </div>
  </div>
  <div class="home-hero__mouse-scroll-cont">
    <div class="mouse"></div>
  </div>
</section>