<section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">About Me</span>
          <span class="heading-sec__sub">
              I am a web developer specializing in React and MongoDB.
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Get to know me!</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                Hey! It's
                <strong>Robert McCreary</strong>
                and I'm a <strong> Frontend Web Developer </strong> located in
                Seattle. I've been in the <strong> educational field </strong> for 10 years. I've done a number of side projects you can check out here.
              </p>
              <p class="about__content-details-para">
              </p>
            </div>
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">My Skills</h3>
            <div class="skills">
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">React</div>
              <div class="skills__skill">Mongo DB</div>
              <div class="skills__skill">Vue.js</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Ruby on Rails</div>
            </div>
          </div>
        </div>
      </div>
</section>
